////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

#include "windows.h"
#include "CRhsIOWnd.h"


////////////////////////////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////////////////////////////

AAAAIcon        ICON CRhsIO\CRhsIO.ico
CRhsIOIcon      ICON CRhsIO\CRhsIO.ico
CRhsIOIconSmall ICON CRhsIO\CRhsIOSmall.ico
RhsIcon         ICON CRhsIO\rhs.ico

////////////////////////////////////////////////////////////////////////
// Accelerators
////////////////////////////////////////////////////////////////////////

RhsIOAccel ACCELERATORS
BEGIN
  "^S", IDM_FILE_SAVEAS
  "^F", IDM_EDIT_FIND
  "F",  IDM_POPUP_SEARCH, CONTROL,SHIFT,VIRTKEY,NOINVERT
  "U",  IDM_POPUP_URL, CONTROL,VIRTKEY,NOINVERT
END

////////////////////////////////////////////////////////////////////////
// Menus
////////////////////////////////////////////////////////////////////////

CRhsIOMenu MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Kill thread",    IDM_FILE_KILL
    MENUITEM "Save a&s ...",    IDM_FILE_SAVEAS
    MENUITEM "E&xit",           IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Find ...",       IDM_EDIT_FIND
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&Font ...",       IDM_OPTIONS_FONT
  END
END
