////////////////////////////////////////////////////////////////////////
// example: Resource file
////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <CRhsIO/CRhsIOWnd.rc>


////////////////////////////////////////////////////////////////////////
// Version information
////////////////////////////////////////////////////////////////////////

#include "winver.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,4,0
PRODUCTVERSION  1,0,4,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_DOS_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName",     "Rattus Hacking Software\0"
      VALUE "FileDescription", "Reconcile two directories to make them identical\0"
      VALUE "FileVersion",     "1.0.4\0"
      VALUE "InternalName",    "Reconcile\0"
      VALUE "LegalCopyright",  "(c) Rattus Hacking Software 2025\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename","reconcile.exe\0"
      VALUE "ProductName",     "Reconcile\0"
      VALUE "ProductVersion",  "1.0.4\0"
      VALUE "Comments",        "-t flag sets all file times\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
